HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

customer-service/mvnw
customer-service/mvnw.cmd

# Ignorare Wrappere Maven in toate sub-folderele
**/.mvn/
**/mvnw
**/mvnw.cmd
**/.gitattributes

# Ignorare Poze
*.png
*.jpg
*.jpeg

# Ignorare artefacte AWS CDK
infrastructure/cdk.out/

# Local secrets
.env
.env.*
!.env.example

